<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="fr">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

{% block title %}
	<title>{{ title }} | incongru.org</title>
{% endblock %}

{% block metadata %}
	<!-- block metadata -->
{% endblock %}

	<link rel="shortcut icon" type="image/png" href="{{ app.request.basepath }}/assets/empilements_16x16.png" />

	<meta name="viewport" content="width=device-width,initial-scale=1">

	<!-- Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references -->
	<link rel="shortcut icon" href="{{ app.request.basepath }}/favicon.ico">
	<link rel="apple-touch-icon" href="{{ app.request.basepath }}/assets/apple-touch-icon.png">
  
	<link rel="stylesheet" type="text/css" media="all" href="{{ app.request.basepath }}/assets/css/lib/960.gs/reset.css"/>
	<link rel="stylesheet" type="text/css" media="all" href="{{ app.request.basepath }}/assets/css/lib/960.gs/text.css"/>
	<link rel="stylesheet" type="text/css" media="all" href="{{ app.request.basepath }}/assets/css/lib/960.gs/960.css"/>

	<link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/empilements.css?v=1">
	<link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/magic.css?v=1">
	<link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/gradient.css?v=1">

	<!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->
	<link rel="alternate" type="application/rss+xml" title="Se tenir informer des nouvelles sorties" href="http://feeds.feedburner.com/empilements-incongrus">

	<link href='http://fonts.googleapis.com/css?family=Terminal+Dosis:400,500,600,700,800' rel='stylesheet' type='text/css'>

	<script src="{{ app.request.basepath }}/assets/js/libs/modernizr-2.0.6.min.js"></script>
	<script type="text/javascript" src="{{ app.request.basepath }}/assets/js/prefixfree.min.js"></script>
</head>

<body>
			
<div class="container_12">

<h1 class="grid_6 logo"><a href="{{ url('homepage') }}" title="Retourner à la page d'accueil"><img src="{{ app.request.basepath }}/assets/pics/logo.png" alt="Empilements" /></a></h1>

{% block compilationInteractions %}
	<!-- block compilationInteractions -->
{% endblock %}

<div class="clear"></div>

<div class="grid_4 navbar grad-1">
<p class="bgfix">e</p>

<div class="man">
	<p class="descr grad-3">
		Aux fils de nos agapes, à la lueur d'un songe insomniaque, depuis les tréfonds de la nuit, le besoin impérieux de constituer des compilations musicales se fait parfois sentir.
	</p>
</div><!-- .man -->
<img src="{{ app.request.basepath }}/assets/pics/navbar/hand.png" alt="" class="hand" style="" />

<p class="submit">N'hésitez surtout pas à <br/>nous soumettre vos <br/>compilations ! </p>

<div class="triangle"></div>
								
<div class="footer grad-2">
	
<h2 class="go"><a href="mailto:empilements@incongru.org">Go! &gt;&gt;&gt;</a></h2>

<p>
	<strong>Consulter le <a href="https://www.google.com/calendar/embed?src=3s3432r73c0k5scnvb6sruvp08%40group.calendar.google.com&amp;ctz=Europe/Paris">calendrier</a> des sorties</strong>
</p>

<p>	
Ce projet est développé par 
<a href="">Constructions Incongrues </a>
et hébergé par <a href="">Pastis Hosting</a>
</p>

<p>
Le code source est <a href="https://github.com/constructions-incongrues/empilements">diffusé</a> sous license <a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPLv3</a>.
</p>

<p>Design par <a href="http://www.blogdamned.com/">Goupil Acnéique</a></p>
<p>Être tenu au courant des nouveautés <a href="http://feeds.feedburner.com/empilements-incongrus">RSS</a> | <a href="http://feedburner.google.com/fb/a/mailverify?uri=empilements-incongrus&amp;loc=fr_FR">Email</a> | <a href="http://www.facebook.com/empilements">Facebook</a></p>
</div>

</div><!-- .grid_4 -->

{% block content %}
<!-- block content -->
{% endblock %}

	</div> <!-- #container -->
	
  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ app.request.basepath }}/assets/js/libs/jquery-1.7.1.min.js"><\/script>')</script>


  <!-- scripts concatenated and minified via ant build script-->
  <script defer src="{{ app.request.basepath }}/assets/js/plugins.js"></script>
  <script defer src="{{ app.request.basepath }}/assets/js/script.js"></script>
{% block streampad %}
{% endblock %}
  <!-- end scripts-->

	
  <!-- Change UA-XXXXX-X to be your site's ID -->
  <script>
    window._gaq = [['_setAccount','UA-26294503-1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>


  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>